global
    maxconn 4096

defaults
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m

listen cockroachdb
    bind *:26258
    mode tcp
    option tcplog
    balance roundrobin
    server roach1 roach1:26257 check inter 1s
    server roach2 roach2:26257 check inter 1s
    server roach3 roach3:26257 check inter 1s

listen admin_ui
    bind *:8081
    mode tcp
    option tcplog
    balance roundrobin
    server roach1 roach1:8080 check inter 1s
    server roach2 roach2:8080 check inter 1s
    server roach3 roach3:8080 check inter 1s
