services:
  redis-stack:
    image: 'redis/redis-stack-server:latest'
    container_name: redis-stack-server
    ports:
      - '6379:6379'
      - '8001:8001'
    volumes:
      - redis_data:/data

volumes:
  redis_data:
