services:
  redis-stack:
    image: 'redis/redis-stack-server:latest'
    container_name: redis-stack-server
    ports:
      - '6379:6379'
      # - '8001:8001'  # Uncomment if needed
    volumes:
      - redis_data:/data
    restart: always
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 3

volumes:
  redis_data:
