# version: '3.7'

services:
  redis-stack:
    image: 'redis/redis-stack-server:latest'
    container_name: redis-stack-server
    ports:
      - '6379:6379'
      # - '8001:8001'  # Uncomment if needed
    volumes:
      - redis_data:/data
    restart: always  # Ensure the container restarts automatically on failure

volumes:
  redis_data: